parameters:
    ignoreErrors:
    - /PHPUnit_Framework_MockObject_MockObject.*given/
    excludes_analyse:
    - build/
    - src/dockerfile/vendor/
    - src/dockerfile-builder/vendor/
    - vendor/
